
<h2 class="precept-book"><b>Wondering About Wonder & Website?</b></h2>
<h3 class="about-ask"><b>What is Wonder?</b></h3>
<p class="about-text">Wonder is a book by RJ Palacio which centers around a fifth grader named August (Auggie) attending school for the first time. Auggie's English teacher, Mr. Browne, presents precepts to his class as a springboard for discussion. Mr. Browne also encourages his students to come up with their own words to live by. On this website, student precepts are displayed with quotes around the author's name.
</p>
<p class="about-text">
There are also three short stories and a spinoff book in the same "universe". All are highly recommended!
<ul>
<li class="about-text"><a href="http://amzn.com/0375869026" target='_blank'>Wonder</a></li>
<li class="about-text"><a href="http://amzn.com/1101934859" target='_blank'>Auggie & Me</a></li>
<li class="about-text"><a href="http://amzn.com/0553499041" target='_blank'>365 Days of Wonder: Mr. Browne's Book of Precepts</a></li>
</ul>
</p>

<h3 class="about-ask"><b>About this website</b></h3>
<p class="about-text">
The quotes stored by this application can be accessed via API. 
For more information, please see this project's <a href="https://github.com/yuzu-r/wondersay" target='_blank'>github page</a>.
</p>
<p class="about-ask">
Want to see other projects?
</p>
<p class="about-ask" id="contact-me">
</p> 

<script>
  $(document).ready(function(){
    var email = "app53204121";
    var emailDomain = "heroku.com";
    var fullAddress = email + '@' + emailDomain;
    var contact = "<a href='" + "mail" + "to:" + email + "@" + emailDomain + "'>" + "Questions or feedback?</a>";
    $("#contact-me").html(contact);  
  });
  
</script>