<div class="col-sm-offset-3 col-sm-6">
  <h2>Precept Index</h2><br/>
</div>
<div class="clear">

<%= link_to "New Precept", new_quote_path, class: 'btn btn-primary' %>
<br/>

<br/>
<div class="table-responsive">
  <table class="table">
    <tr>
      <th style="border-top-style:none">Precept</th>
      <th style="border-top-style:none">Source</th>
      <th style="border-top-style:none">Edit</th>
      <th style="border-top-style:none">Delete</th>
    </tr>
    <% @quotes.each do |q| %>
      <tr>
        <td class="col-sm-6"><%=q.quote %></td>
        <td class="col-sm-2"><%= q.author %></td>
        <td class="col-sm-1"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></td>
        <td class="col-sm-1"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></td>
      </tr>
    <% end %>
  </table>
</div>
