

<div class="jumbotron">
  <h2> 
    <span>
      <% if @quote %>
        Precept # <%= @quote.id %>
      <% else %>
        Precept # 0
      <% end %>
    </span>
  </h2>
  <% if @quote %>
    <h1 id='precept-quote' class="precept"> <%= @quote.quote %> </h1>
    <h2 class="pull-right precept-author"> -- <%= @quote.author %> </h2>
  <% else %>
    <h1 class="precept">There are no quotes in the database. Create some!</h1>
  <% end %>
    <br class="clear" />
  <br />
  <br />
  <button class="btn btn-primary">
    <i class="fa fa-twitter-square fa-2x" style="vertical-align: middle;"></i> 
    <span>&nbsp;Share!</span>
  </button>
</div>
<div class="container">
  <div class="text-center">
    <a href=<%= root_path %> class='btn btn-default' role="button" id='next-quote'><i class="fa fa-refresh fa-2x" style="vertical-align: middle;"></i>&nbsp;Another Precept!</a>
  </div>
</div>
<br class="clear" />
<br />
<div class="footer-blurb">
  more info 
</div>     

<script>
  $(document).ready(function(){
    $.ajax({
      url: 'api/v1/precepts/random.json',
      //url: 'http://wondersays.herokuapp.com/api/v1/precepts/random.json',
      dataType: 'jsonp',
      jsonp: 'callback',
      jsonpCallback: 'jsonpCallback',
      success: function(){
        console.log('success from jquery!');
      }, 
      error: function (data) {
        console.log('Failed to get quote!');
      }
    });
  });
  function jsonpCallback(data){
    console.log('in the callback');
    console.log(data.quote);
  }
</script>

