<h2>Your wondersays account is approved!</h2>

<p>
  <%= @greeting %>, your account has been approved by the administrator. You can now log in and create and edit precepts, or administer other user accounts. 
</p>
